.search-icon{
    background-image: url('imagenes/find.png');
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: center;
    background-color:#253147 ;
}
.my-search-form{
    max-width: 510px;
    margin: auto;
    
}
section{
    background-color:#253147 ;
}

article .bg-light{
    background-color:#253147 ;
}

.logo {
    float: left;
    height:40%;
    width: 30%;
    border-radius: 10px;
    margin: 10px;
    padding: 15px;
}

.titulo {
    color: #b39144;
    font-size: 45px;
    font-weight: 70%;
    background-color: lavender;
    border-radius: 5px;
    margin: 10px;
    padding: 15px;
    width: 100%;
    text-align: center;
}
header{
    
}
.my-article{
    margin: auto;
    background-color: #ffb400;
   
}

.notice_container{
    border-radius: 5px;
    margin: 10px;
    background-color: #ffb400;
}


.notice_container input:hover{
    background-color: yellow;
    opacity: 0.8;
}

.div_notice{
    display: inline-block;
    width: 85%;
    text-align: center;
    padding: 5px 10px;
    color: #737373;
}

.hero-img{
    width: 100px;
    cursor: pointer;
    transition: 0.2s;
}

.hero-img:hover{
    opacity: 0.7;
    
}

.e_notice{
    width: 100%;
    padding: 10px;
    margin: auto;
}

.e_hidden{
    display: none !important;
}

.e_notice_sucess{
    background-color: #62A693;
    color: green;
}

.e_notice_warning{
    background-color: yellow;
    color: #000;
}

.e_notice_error{
    background-color: rgb(255, 71, 71);
    color: #737373;
}

.clear-both{
    clear: both;;
}

.nav-pages a{
    text-decoration: none;
    margin: 2px;
    padding: 0px 15px;
    color: currentColor;
    color: #253147;
    font-size: 1.5em;
    font-family: inherit;
    background-color: #ffb400;
}

.isDisabled {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
}

.background-blur{
    position:fixed;
    z-index:5;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: #737373;
    transition: all 1s;
    filter: blur(5px);
}


.table-responsie{
    background-color: #4d858a;
    border: radius 2px; ;
}
.lds-ripple {
    display: inline-block;
    position: absolute;
    width: 80px;
    height: 80px;
    z-index: 9;
    border-radius: 50%;
  }
    .lds-ripple div {
        position: absolute;
        border: 6px solid #ffb400;
        opacity: 1;
        border-radius: 50%;
        animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    }
    .lds-ripple div:nth-child(2) {
        animation-delay: -0.5s;
        
        
    }
    @keyframes lds-ripple {
        0% {
        top: 34px;
        left: 34px;
        width: 0;
        height: 0;
        opacity: 1;
        }
        100% {
        top: -2px;
        left: -2px;
        width: 72px;
        height: 72px;
        opacity: 0;
        
        }
    }


.modal {
    display: none; 
    position: fixed; 
    z-index: 1;
    padding-top: 150px;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: #0b5c63; 
    background-color: blanchedalmond;
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #253147;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.5s;
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

@keyframes zoom-out{
    from {transform:scale(1)}
    to {transform:scale(0)}
}


/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}